# Unit 14. 조건문 if-else

## 14.1 else

In [2]:
import random

In [5]:
x = random.randint(1, 6)
if x >= 4:                
  print('큰 수')          #참일경우
else:                     #조건에 맞지않을경우
   print('작은 수')       
print(x)

큰 수
4

In [8]:
x = random.randint(1, 6)
if x % 2 == 0:                # 2로 나눌경우 0과같냐 = 2의배수
  print('짝 수')          #참일경우
else:                     #조건에 맞지않을경우
   print('홀 수')       
print(x)

홀 수
1

In [16]:
x = random.randint(1, 6)
if x % 2 == 0:                
  result = 'even number'         
else:                     
   result = 'odd number'       
print(x,result)

1 odd number

In [21]:
# java, java script에서는 result = x % 2 == 0 ? "even" : "odd" ;
x = random.randint(1, 6)
result = 'even' if x % 2 == 0 else 'odd'    #위의 식을 간략화시킨것 외워둘필요
print(x,result)

6 even

## else와 들여쓰기

In [22]:
if x == 10:    # x가 10이라 조건식이 참
    print('10입니다.')    # 출력
else:
     print('x에 들어있는 숫자는')
     print('10이 아닙니다.')

x에 들어있는 숫자는
10이 아닙니다.

## 14.3 동작방식

In [23]:
if x:
  print(x)
else:
  print('none')

6

In [26]:
x = None
if x:
  print(x)
else:
  print('0, 0.0, "", false, none 입니다.')

0, 0.0, "", false, none 입니다.

## 14.4 여래개의 조건식

In [43]:
# 3과 5의 공배수면 FizzBuzz를 출력
# 위의 경우가 아니면 숫자값을 출력
# 1 2 Fizz 4 Buzz Fizz 7 8 Buzz 11 Fizz 13 14 FizzBuzz
x = random.randint(1,100)
if x % 3 == 0 and x % 5 == 0:
  print('FizzBuzz')
else:
  print('x')

FizzBuzz

In [45]:
x = 14
if x >= 10 and x <= 20:
  print('10이상이고 20이하')
else:
  print(x)

10이상이고 20이하

In [46]:
if 10<= x <= 20:
  print('10이상이고 20이하')
else:
  print(x)

10이상이고 20이하

### 연습문제
<pre>
4로 나누어지면 윤년
100으로 나누어지면 평년
400으로 나누어지면 윤년
그외 평년

In [74]:
x = 2000
if x % 4 ==0: 
  if x % 100 ==0:
    if x % 400 == 0:
      print(x, '윤년')
    else:
      print(x, '평년')
  else:
    print(x, '윤년')
else:
  print(x, '평년')

2000 윤년

In [88]:
# Code Refactoring
x = 2004
if x % 4 ==0 or x % 400 == 0 and x % 100 !=0:
  print(x,'윤년')
else:
  print(x, '평년')

2004 윤년

In [87]:
# Not (A and B)  ==> not A not B
x = 2004
if x % 4 ==0 and (x % 100 != 0 or x % 400 ==0):
  print(x,'윤년')
else:
  print(x, '평년')

2004 윤년