# 심사문제(13-19) 과제

### 1.표준 입력으로 가격(정수)과 쿠폰 이름이 각 줄에 입력됩니다. Cash3000 쿠폰은 3,000원, Cash5000 쿠폰은 5,000원을 할인합니다. 쿠폰에 따라 할인된 가격을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

입력 : 27000 Cash3000
결과 : 24000

입력 : 72000 Cash5000
결과 : 67000

In [5]:
money = int(input())
coupon = input()
if coupon == 'Cash3000':
    money-=3000
if coupon == 'Cash5000':
    money-=5000
print(money)

35000

### 2. 표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 여기서 네 과목의 평균 점수가 80점 이상일 때 합격이라고 정했습니다. 평균 점수에 따라 '합격', '불합격'을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 점수는 0점부터 100점까지만 입력받을 수 있으며 범위를 벗어났다면 '잘못된 점수'를 출력하고 합격, 불합격 여부는 출력하지 않아야 합니다.

입력 : 89 72 93 82  결과 : 합격

입력 : 100 79 68 71 결과 : 불합격

입력 : 99 85 101 90 결과 : 잘못된 점수

In [14]:
korean, english, math, science = map(int,input().split())
if 0<=korean<=100 and 0<=english<=100 and 0<=math<=100 and 0<=science<=100:
    if (korean+english+math+science)/4 >= 80:
        print('합격')
    else:
        print('불합격')
else:
    print('잘못된 점수')

합격

### 3. 표준 입력으로 나이(만 나이)가 입력됩니다(입력 값은 7 이상 입력됨). 교통카드 시스템에서 시내버스 요금은 다음과 같으며 각 나이에 맞게 요금을 차감한 뒤 잔액이 출력되게 만드세요(if, elif 사용). 현재 교통카드에는 9,000원이 들어있습니다.

- 어린이(초등학생, 만 7세 이상 12세 이하): 650원
- 청소년(중∙고등학생, 만 13세 이상 18세 이하): 1,050원
- 어른(일반, 만 19세 이상): 1,250원

입력 : 12 결과 : 8350

입력 : 17 결과 : 7950

In [21]:
age = int(input())
balance = 9000    # 교통카드 잔액
if 7 <= age <=12:
    balance -= 650
elif 13 <= age <=18:
    balance -= 1050
elif age <=19:
    balance -= 1250
print(balance)

7950

### 4. 표준 입력으로 정수가 입력됩니다. 입력된 정수의 구구단을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 출력 형식은 숫자 * 숫자 = 숫자처럼 만들고 숫자와 *, = 사이는 공백을 한 칸 띄웁니다.

입력 : 2

결과 : 2 * 1 = 2
       2 * 2 = 4
       2 * 3 = 6

In [27]:
g = int(input())
for i in range(1,10):
    print(g, '*', i,'=', g*i , sep=' ')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

### 5.표준 입력으로 금액(정수)이 입력됩니다. 1회당 요금은 1,350원이고, 교통카드를 사용했을 때마다의 잔액을 각 줄에 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 최초 금액은 출력하지 않아야 합니다. 그리고 잔액은 음수가 될 수 없으며 잔액이 부족하면 출력을 끝냅니다.

입력 : 10000

결과 : 8650,7300,5950,4600,3250,1900,550

In [39]:
money = int(input())
while money>=1350:
    money -= 1350
    print(money)

8650
7300
5950
4600
3250
1900
550

### 6.표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1~200, 두 번째 입력 값의 범위는 10~200이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 다음 소스 코드를 완성하여 첫 번째 정수와 두 번째 정수 사이의 숫자 중 3으로 끝나지 않는 숫자가 출력되게 만드세요. 정답에 코드를 작성할 때는 while True:에 맞춰서 들여쓰기를 해주세요.

입력 : 1 20

결과 : 1 2 4 5 6 7 8 9 10 11 12 14 15 16 17 18 19 20

In [ ]:
start, stop = map(int, input().split())
 
i = start
 
while True:
_____________________
_____________________
_____________________
_____________________
_____________________
    print(i, end=' ')
    i += 1

In [45]:
start, stop = map(int, input().split())
 
i = start
 
while True:
    if i % 10 == 3:
        i += 1
        continue
    if i > stop:
        break
        
    print(i, end=' ')
    i += 1

1 2 4 5 6 7 8 9 10 11 12 14 15 16 17 18 19 20

### 7. 표준 입력으로 삼각형의 높이가 입력됩니다. 입력된 높이만큼 산 모양으로 별을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 이때 출력 결과는 예제와 정확히 일치해야 합니다. 모양이 같더라도 공백이나 빈 줄이 더 들어가면 틀린 것으로 처리됩니다.

입력 : 3

  *
 ***
*****

In [46]:
height=int(input())

for i in range(height):
    
    for j in range(height*2-1):
        
        if j-i<=height-1<=j+i:
            print('*',end='')
            
        else:
            print(' ',end='')
            
    print()

    *
   ***
  *****
 *******
*********

### 8. 표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1~1000, 두 번째 입력 값의 범위는 10~1000이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 첫 번째 정수부터 두 번째 정수까지 숫자를 출력하면서 5의 배수일 때는 'Fizz', 7의 배수일 때는 'Buzz', 5와 7의 공배수일 때는 'FizzBuzz'를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

입력 : 35 40

결과
FizzBuzz
36
37
38
39
Fizz

In [51]:
start,stop = map(int,input().split())
for i in range(start, stop+1):
    if i%5==0 and i%7==0:
        print('FizzBuzz')
    elif i%5==0:
        print('Fizz')
    elif i%7==0:
        print('Buzz')
    else:
        print(i)

1
2
3
4
Fizz
6
Buzz
8
9
Fizz
11
12
13
Buzz
Fizz
16
17
18
19
Fizz
Buzz
22
23
24
Fizz
26
27
Buzz
29
Fizz
31
32
33
34
FizzBuzz