#Unit 10. 리스트와 튜플

## 10.1 리스트(List)

In [2]:
a = [38,21,53,62,19]
a

[38, 21, 53, 62, 19]

In [6]:
import numpy as np
b = list(np.random.randint(10,70,10))
b

[57, 23, 30, 57, 45, 21, 42, 53, 10, 40]

In [7]:
# 리스트에는 여러 자료형을 사용할 수 있음
person = ['james', 27, 175.3, '남']
person

['james', 27, 175.3, '남']

In [10]:
# 위의 리스트는 아래와 같은 딕셔너리로 표현하는 것이 더 좋다
{'name':'james', 'age':27, 'height':175.3, 'gender':'남'}

{'age': 27, 'gender': '남', 'height': 175.3, 'name': 'james'}

- 빈리스트 만들기

In [29]:
a = []
b = list()
a, b = [],[]     #위에 두개와 아래와 동일

In [43]:
import random
a = []
for i in range(5):
  a.append(random.randint(60,100))
a

[79, 73, 72, 99, 61]

In [20]:
# range parameter 1개 : 횟수 의미(0 ~ n-1)
list(range(5))

[0, 1, 2, 3, 4]

In [21]:
# range parameter 2개 : 시작, 끝 의미(시작 ~ 끝-1)
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
# range parameter 3개 : 시작, 끝, 증가폭 의미
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [24]:
list(range(10,0,-2))    #0은 포함을 안함 : 끝수(end) - 증가폭

[10, 8, 6, 4, 2]

## 10.2 튜플(tuple)

In [27]:
person

['james', 27, 175.3, '남']

In [28]:
person = ('james', 27, 175.3, '남')       # 파이썬에서 
person

('james', 27, 175.3, '남')

In [32]:
size = (3)
type(size)

int

In [34]:
size = (3,)   # 1개짜리 뒤에는 ,를 붙혀야 튜플이 됩니다
type(size)

tuple

In [35]:
size = 3,   # 괄호는 없어도 ,는 있어야됩니다
type(size)

tuple

-튜플은 요소를 변경,추가,삭제할 수도 없다.

In [37]:
t = ()    #새로운 코드를 추가할수 없습니다. 반복문을 사용하려면 리스트와 반복문
type(t)

tuple

In [41]:
t = tuple(range(5))
t

(0, 1, 2, 3, 4)

- 리스트 <=> 튜플

In [46]:
l = list(t)       #리스트안에 함수를넣으면 리스트
type(l)

list

In [47]:
type(tuple(l))    #튜플안에 함수를넣으면 튜플

tuple

- 리스트에 문자열 넣기

In [48]:
list('안녕하세요')

['안', '녕', '하', '세', '요']

In [49]:
list('abcd')

['a', 'b', 'c', 'd']

In [52]:
a, b, c, d, = 'a', 'b', 'c', 'd'
a, b, c, d

('a', 'b', 'c', 'd')

In [53]:
a, b, c, d = list('abcd')
a, b, c, d

('a', 'b', 'c', 'd')

In [54]:
x, y, z= range(3)
x, y, z

(0, 1, 2)

In [55]:
x, y, z = input().split()
x, y, z

10 20 30

('10', '20', '30')

In [57]:
x, y, z = map(int, input(). split())
x, y, z

10 20 30

(10, 20, 30)

In [59]:
x, y, z = map(lambda x: int(x)*2 + 5 , input(). split())
x, y, z

10 20 30

(25, 45, 65)